* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}

#age {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#age p {
    text-align: center;
    
    font-size: 20px;
}

#name{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#name p {

    text-align: center;
    
    font-size: 20px;
}

#color {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#color p {

    text-align: center;
    font-size: 20px;
}

#stats{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#stats p {

    text-align: center;
    
    font-size: 20px;
}

#hobby{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#hobby p {

    text-align: center;
    
    font-size: 20px;
}
#Song {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#Song p {

    text-align: center;
    
    font-size: 20px;
}


#about {
    border-style: solid;
   
    

}

#media {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#media p {

    text-align: center;
    
    font-size: 20px;
}

#logo {
    display: flex;
    width: 250px;
    border-radius: 50px;
    align-self: center;
}

body{

    background-image: url(dota-2-logo-8nnsx5c1zd4uqi4x.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
}
